:root {
  font-family: Buydog;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

hr {
  border-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Morgiah;
  src: url(/fonts/MORGIAH.otf);
}

@font-face {
  font-family: Cholvine;
  src: url(/fonts/Cholvine.ttf);
}

@font-face {
  font-family: Franchise;
  src: url(/fonts/franchise_2/Franchise.ttf);
}

@font-face {
  font-family: Kilo;
  src: url(/fonts/kilo/Kilo.otf);
}

@font-face {
  font-family: Buydog;
  src: url(/fonts/Buydog/Buydog.ttf);
}

@font-face {
  font-family: Evagrande;
  src: url(/fonts/evagrande/Evagrande.otf);
}

/* Style the video container */
.bg-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Style the video element */
.bg-video-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
